<%= render 'partials/menu' %>
<div class="p-4 sm:ml-64 dark:bg-gray-800 min-h-screen">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex justify-center items-center mb-20">
                <div class="flex flex-col text-center w-full">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 dark:text-white">Clientes</h1>            
                </div>
            <div>
                
            </div>
        </div>
    </section>
</div>
